@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*{scroll-behavior: smooth;}

:root {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-green: #66f670;
  --color-ytellow: #fee976;
  --color-gray: #1b1e26;
}

p,
h4,
h3,
h2,
h1,
span {
  transform: rotate(0.03deg);
}




html {
  font-size: 16px;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: difference;
  transition: all 0.1s;
  z-index: 9999;
  pointer-events: none;
}

.cursor--active .cursor__trace__inner {
  transform: scale(20);
  transition: all 0.25s;
  animation-duration: 0.25s;
}

.cursor_default_inner {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgb(255, 137, 137);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transition: all 0.25s;
}

.cursor_Trace_Inner {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color:  rgb(255, 137, 137);
  transform: translate(-50%, -50%);
  transition: all 0.25s;
  opacity: 0.5;
}



video {
  position: fixed;
  z-index: -9999;
  aspect-ratio: 16/9;
 
  
}

.header {
  width: 100vw;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 9000;
  transition: all 2s;
  opacity: 1;
}

.headerContents {
  width: 2508px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.header button { background: transparent; color: #ffffff; border: none; font-size: 1.5rem; font-weight: 100;}


.headerMenuPopUp {
  width: 100vw;
  height: 200px;
  top: -210px;
  position: absolute;
  visibility: hidden;
  opacity: 0.1;
  transition: all 1ms;
  background-color: #ffffff;
}

.show {
  visibility: visible;
  transition: all 1ms;
  opacity: 0;
}

.hide {
  visibility: visible;
  transition: all 0.1ms;
  opacity: 0;
  top: -210;
}

.header img {
  width: 156px;
  height: fit-content;
}

header nav {
  width: 895px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.header nav ul{width: 100%; height: 100px; display: flex; justify-content: space-between; align-items: center; list-style: none; margin: 0px; z-index: 9000;}
.header nav ul li{font-size: 1.2rem; }

.headerNav li:hover {
  color: red;
}



.otherWrap {
  width: 160px;
  height: 40px;
  border: none;
  z-index: 9999;
}


.otherWrap button{cursor: pointer;}


.hamberger{width: 50px; height: 50px;}


#rooiCell {
  font-size: 17rem;
  font-weight: 500;
  color: white;
  position: absolute;
  bottom: 70px;
  margin-left: 7%;
  transition: all 0.8s;
  opacity: 1;
  z-index: 10;
}

#Cosmetics{
  width: calc( 80% / 16 * 9 );
  aspect-ratio: 16 / 9;
  font-size: 13rem;
  font-weight: 500;
  color: white;
  position: absolute;
  margin-left: 7%;
  bottom: -1350px;
  opacity: 1;
  line-height: 110%;
  letter-spacing: -2.5%;
  transition: all 0.2s;
  z-index: 22;}



  #Cosmetics_p{
    font-size: 2rem;
    letter-spacing: -2.5%;
    line-height: 60px;
    font-family: 'Pretendard', sans-serif;
    position: absolute;
    left: 190px;
    bottom: -1300px;
    transition: all 0.2s;
    z-index: -20;
  }
  
/*section01*/
.section01 {
width: 100%;
height: 1440px;
position: relative;
 
}
.natureImg{
  width: calc( 108% / 16 * 9 );
  aspect-ratio: 16 / 9;
  border-radius: 25px;
  background-image: url(./img/nature_bg.jpg);
  background-size: cover;
  position: absolute;
  right: 150px;
  bottom: -1500px;
  transform: translateY(0%);
  z-index: 9;
}





/*section02*/
.section02 {
  min-width: 1920px;
  height: 2072px;
}
/*section03*/
.section03 {
  min-width: 1920px;
  height: 2072px;
  position: relative;
  border: 1px solid red;
}
#proDuct{
  width: calc( 80% / 16 * 9 );
  aspect-ratio: 16 / 9;
  font-size: 12rem;
  font-weight: 500;
  color: white;
  position: absolute;
  right: 8%;
  top: 250px;
  opacity: 1;
  line-height: 110%;
  letter-spacing: -2.5%;
  transition: all 0.5s;
  z-index: 23;}

 

  #proDuct_p{
    font-size: 2rem;
    letter-spacing: -2.5%;
    line-height: 60px;
    font-family: 'Pretendard', sans-serif;
    position: absolute;
    left: 190px;
    top: 330px;
    transition: all 0.2s;
    z-index: -20;

   
  }
  


/*section04*/
.section04{
  min-width: 1920px;
  height: 2072px;
  position: relative;
  border: 1px solid red;}


/*section05*/
/*footer*/
.footer {
  min-width: 1920px;
  max-width: 100vw;
  height: 270px;
  background-color: #111111;
}
